.product_slide{
    display: flex;
    flex-wrap: wrap;
}
.product_slide .card .image {
    position: relative;
    overflow: hidden;
    transition: opacity .6s cubic-bezier(0.28, 0, 0.18, 1) .25s,transform .6s cubic-bezier(0.28, 0, 0.18, 1) .25s;
}
.product_slide p{
    color: #c8a27a;
    font-size: 17px;
}
.card .image .icons {
    position: absolute;
    bottom: 10px;
    z-index: 10;
    -webkit-transform: translateY(7rem);
    transform: translateY(7rem);
}

.card .image .icons button {
    width: 150px;
    /* font-size: 12px; */
    background: #10221b;
    color: #fff;

}
.card:hover .icons {
    -webkit-transform: translateY(0);
    transform: translateY(0);
} 
.card .image .icons button:hover {
    background: #d3ad7f;
}