#card-shop{
    position: fixed;
    top: 0 ; right: -100%;
    width: 360px; 
    min-height: 100vh;
    padding: 20px;
    background: #fff;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
    z-index: 10000; 

}
.card-content .product-box{
    margin-bottom: 5px;
}
.card-title1{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-top: 10px;
}
.card-title{
    font-size: 20px;
    margin-top: 0;
} 
.mb-3{
    margin-top: 30px;
    border: none;
}
.remove-card{
    margin-top: -55px;
    margin-left: 300px;
    font-size: 15px;
    color: #d3ad7f;
    cursor: pointer;
}
.card-quantity{
    border: 1px solid #0f0f0f;
    outline-color: #0f0f0f;
    width: 36px;
    text-align: center;
    font-size: small;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    border-top: 1px solid #0f0f0f;
}
.total-title{
    font-size: 15px;
    font-weight: 600;
}
.total-price{
    font-size: 14px;
    margin-left: 5px;
}
.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
#card-close{
    position: absolute;
    font-size: 20px;
    top: 12px;
    right: 10px;
}