.product-thumbnail {
    width: 65px;
  }
  
  .table th,
  .table td {
    padding: 8px;
  }
  
  .utility .material-symbols-outlined {
    color: #bbbaba;
    cursor: pointer;
    font-size: 26px;
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
  }
  
  tr:hover .edit {
    color: #0ca1f7;
    background-color: transparent !important;
  }
  
  tr:hover .delete {
    color: red;
    background-color: transparent !important;
  }
  
  /* Moadal */
  .modal-inner .modal-close {
    cursor: pointer;
    padding: 10px;
    color: #e0e0e0;
    font-size: 40px;
  }
  
  .modal-close:hover {
    color: black;
  }
  
  .modal-layout {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    display: none;
    align-items: center;
    justify-content: center;
    animation: fadeIn linear 0.2s;
  }
  
  .modal-inner {
    width: 1050px;
    height: 500px;
    background-color: white;
    animation: pullDown linear 0.2s;
    margin: 0 40px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  /* #sub_sidebar {
      display: none;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 2;
  } */

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }