.collection-header {
    border-bottom: 1px solid #A9A9A9;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.collection-group_bar{
    background: none;
    height: auto;
    border-bottom: none;
}
.section-bar{
    position: relative;
    border-right: #DCDCDC;
    background: none;
    height: auto;
}
.collection-nav-item .collection-sidebar__heading.active{
    opacity: 1;
    visibility: visible;
}
.collection-nav-item .collection-sidebar__heading {
    position: relative; 
    top: auto;
    left: auto;
    border-bottom: 1px solid #A9A9A9;
}
.section--collection-sidebar .collection-nav-item{
    display: block;
}
.section-bar:before {
    box-sizing: inherit;
}
.section-bar, .section-bar:before, .section-bar:after {
    box-sizing: border-box;
    border-right-style: solid;
    border-right-color: #A9A9A9;
}
.section-bar:after {
    box-sizing: inherit;
}
.section-bar, .section-bar:before, .section-bar:after {
    box-sizing: border-box;
    margin: initial;
}
.section--collection-sidebar a{
    text-decoration: none;
}
.section--collection-sidebar .collection-sidebar__heading {
    cursor: pointer;
    padding: 1rem 0;
    padding-left: 0;
}
h2, .h2 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 3px;
    font-weight: 400;
} 
.collection-group-marker {
    width: 100%;
}
.collection-group-marker+.collection-group-marker {
    border-top: 1px solid var(--color-border);
}
.collection-product{
    margin-bottom: 25px;
}
.card-hover .img{
    width: 72px;
    display: block;
    transition: all .2s ease;
}
.card-hover .img:hover{
    transform: scale(1.2);
}
.card-hover .image{
    display: block;
    overflow: hidden;
}
.card-hover .card-body{
    margin-left: 2px; 
    margin-top: -10px;
}
#search-focus{
    width: 500px;
    background-color: transparent;
    border-bottom: 1px solid #A9A9A9;
    border-top: none;
    border-left: none;
    border-right: none; 
}
#search-focus:focus{
    border-bottom-color: #10221b;
}
.Buttons{
    margin-top: 2%;
    border-radius: 5px;
    cursor: pointer;
}
.btn-search{
    width: 40px;
    text-align: center;
}
.title h2{
    font-size: 50px;
    padding: 0 0 20px;
    margin: 0;
}
.espresso_list{
    border: none;
    margin-top: 90px;
    margin-bottom: 100px;
}
.main{
    display: flex;
    flex-wrap: wrap;
}
.main .card .image {
    position: relative;
    overflow: hidden;
    transition: opacity .6s cubic-bezier(0.28, 0, 0.18, 1) .25s,transform .6s cubic-bezier(0.28, 0, 0.18, 1) .25s;
}
