/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');

.main{
    font-family: 'Raleway', sans-serif;
}  */
#card-shop{
    position: fixed;
    top: 0 ; right: -100%;
    width: 360px; 
    min-height: 100vh;
    padding: 20px;
    background: #fff;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
    z-index: 10000; 

}

.card-title1{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-top: 10px;
}
.card-title{
    font-size: 20px;
    margin-top: 0;
}
.mb-3{
    margin-top: 30px;
    border: none;
}
.card-box .img{
    width: 72px;
}
.card-box .card-body{
    margin-left: 2px; 
    margin-top: -10px;
}
.remove-card{
    margin-top: -55px;
    margin-left: 300px;
    font-size: 15px;
    color: #d3ad7f;
    cursor: pointer;
}
.card-quantity{
    border: 1px solid #0f0f0f;
    outline-color: #0f0f0f;
    width: 36px;
    text-align: center;
    font-size: small;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    border-top: 1px solid #0f0f0f;
}
.total-title{
    font-size: 15px;
    font-weight: 600;
}
.total-price{
    font-size: 14px;
    margin-left: 5px;
}
/* .btn-primary{
    margin-left: 95px;
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
} */
.container-wrapper{
    margin-left: 5%;
}
#search-focus{
    font-size: 600;
    width: 460px;
    background-color: transparent;
    border-bottom: 2px solid #0f0f0f;
    border-top: none;
    border-left: none;
    border-right: none; 
}
#search-focus:focus{
    border-bottom-color: #10221b;
}
.Buttons{
    margin-top: 2%;
    border-radius: 5px;
    cursor: pointer;
    
}
.btn-search{
    width: 40px;
    text-align: center;
}
.title h2{
    font: 70px/1.25 'Playfair Display',arial,serif;
    padding: 0 0 20px;
    margin: 0;
    margin-top: 50px;
}
.title span{
    font-size: 25px;
    color: #0f0f0f;
    max-width: 280px;
    font-family: 'Playfair Display',arial,serif;
    margin: 0 auto;
    line-height: 1.33;
    padding: 0 0 30px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.espresso_list{
    border: none;
    margin-top: 90px;
    margin-bottom: 100px;
}
.main{
    display: flex;
    flex-wrap: wrap;
}
.main .card .image {
    position: relative;
    overflow: hidden;
    transition: opacity .6s cubic-bezier(0.28, 0, 0.18, 1) .25s,transform .6s cubic-bezier(0.28, 0, 0.18, 1) .25s;
}
#card-close{
    position: absolute;
    font-size: 20px;
    top: 12px;
    right: 10px;
}
.card .image .icons {
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;
    text-align: center;
    z-index: 10;
    -webkit-transform: translateY(7rem);
    transform: translateY(7rem);
}

.card .image .icons a {
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 13px;
    background: #10221b;
    color: #fff;
    margin: 0 0.2rem;
}
.card-hover:hover .icons {
    -webkit-transform: translateY(0);
    transform: translateY(0);
} 
.card .image .icons a:hover {
    background: #d3ad7f;
}

.slide .card .card-body {
    padding: 1rem 0;
    text-align: center;
}

.slide .card .card-body h5 {
    font-size: 20px;
    color: #10221b;
}

.slide .card .card-body .price {
    padding-top: .5rem;
    font-size: 1rem;
    color: #d3ad7f;
}

.slide .card .card-body .stars i {
    font-size: 1rem;
    color: #10221b;
}

/* Responsive */
@media(max-width: 1080px){
    #nav-id{
        padding: 15px;
    }
    section{
        padding: 3rem 0 2rem;
    }
    .container{
        margin: 0 auto;
        width: 90%;
    }
    .main{
        margin-top: 2rem !important;
    }
}
@media(max-width: 400px){
    #nav-id{
        padding: 11px;
    }
    #card-shop{
        width: 320px;
    }
    .navbar-brand{
        font-size: 1rem;
    }
}
@media(max-width: 360px){
    .main{
        margin-top: 1rem !important;
    }
    #card-shop{
        width: 150px;
    }
}