* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  transition: .2s linear;
}

/* landing page */
.home .box {
  min-height: 100vh;
  background-size: cover !important;
  background-position: center !important;
  padding: 2rem 9%;
}

#btn_buy:hover {
  color: white !important;
}

.category .img-fluid {
  height: 200px;
  width: 200px;
}
.footer {
  color: #fff;
  padding-top: 220px;
  background-size: cover;
}
.footer h6 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 600;
}
