<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="../public/css/bootstrap.css">
    <link rel="stylesheet" href="../public/css/index.css">
    <!-- script only  -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
        </script>
    <title>Login</title>
</head>

<body>
    <!-- header section start -->
    <div class="container-fluid p-0">
        <header class="header">
            <nav class="navbar navbar-expand-lg fixed-top bg-coffee py-3" id="nav-id">
                <div class="container">
                    <a class="navbar-brand fw-bold ps-2" href="#"> <i class="fa-solid fa-mug-saucer"
                            style="font-size: 25px;"></i>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul
                            class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex flex-column flex-lg-row align-items-start align-items-lg-center  ">
                            <li class="nav-item ps-2">
                                <a class="nav-link" href="#">Home</a>
                            </li>
                            <li class="nav-item ps-2">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item ps-2">
                                <a class="nav-link" href="#">Product</a>
                            </li>
                            <li class="nav-item align-items-center ps-2">
                                <a class="nav-link" href="#"><i class="fas fa-search"></i></a>
                            </li>
                            <li class="nav-item align-items-center ps-2">
                                <a class="nav-link" href="#">
                                    <i class="fa-solid fa-cart-shopping shop-btn"></i>
                                </a>
                            </li>
                            <li class="nav-item align-items-center ps-2">
                                <a class="nav-link" href="#"><i class="fa-solid fa-user"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!-- header section end -->

        <!-- Login form -->
        <section class="mt-5">
        <div class="mx-auto bg-white"
            style="padding: 45px; margin-top: 100px; min-width: 300px;  max-width: 550px;">
            <h1 class="text-center mb-3">Login</h1>
            <p style="font-size: 85%; text-align: center;">Don't have an account?
                <span class="text-link"><a href="#" class="text-black" style="font-size: 90%;">Sign up here</a></span>.
            </p>

            <form class="needs-validation mt-5">
                <div class="form-group mb-4" style="font-size: 16px; ">
                    <input class="form-control" type="email" id="email" placeholder="Email" required>
                </div>
                <div class="form-group mb-2" style="font-size: 16px;">
                    <input class="form-control" type="password" id="password" placeholder="Password" required>

                    <div class="forgot-password" style="text-align: right; padding: 20px ; width: 100%;">
                        <button type="button" class="text-link small">Forgot your password?</button>
                    </div>
                </div>
                <div>
                    <input class="btn btn-primary w-25" type="submit" value="SIGN IN">
                    <span class="text-link">
                        <a href="#" class="text-black" style=" margin-left: 10px; font-size: 85%;">Return to Store</a>
                    </span>
                </div>

            </form>
        </div>
    </section>
        <!-- Login form end -->

        <!-- footer section start -->
        <footer class="footer section-gap"
            style="background: url(../public/images/footer-bg.jpg) center; background-size: cover;">
            <div class="container">
                <div class="row mt-5">
                    <div class="col-lg-5 col-md-6 col-sm-6">
                        <div>
                            <h5 class="mb-4">About Us</h5>
                            <p class="fs-6">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-6">
                        <div class="">
                            <h5 class="mb-4">Newsletter</h5>
                            <p class="fs-6">Stay update with our latest</p>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Enter email"
                                        aria-label="Enter email" aria-describedby="">
                                    <button class="btn btn-primary btn_arrow" type="button" id="btn_arrow"><i
                                            class="fa-solid fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div>
                            <h5 class="mb-4">Follow Us</h5>
                            <p class="fs-6">Let us be social</p>
                            <div class="footer-social d-flex align-items-center">
                                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                                <a href="#"><i class="fa-brands fa-behance"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer section end -->
    </div>
</body>

</html>